html,
body {
  margin: 0px;
}

.homeMain {
  display: flex;
  position: absolute;
  background-color: #f2f2f2;
  height: 100vh;
  width: 100vw;
}
.center {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  margin: 70px;
  border-radius: 50px;
  box-shadow: 3px 2px 8px grey;
}
.lh {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: url("../../public/images/start_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  border-radius: 50px;
}
.intro {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgba(242, 242, 242, 0.85);
  border-radius: 70px;
  width: 500px;
  height: 600px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px;
}
.intro h1 {
  font-size: 40px;
  font-weight: 500;
}



.intro p{
  font-size: 20px;
}

.rh {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  flex-direction: column;
  width: 50%;
  border-radius: 50px;
  align-items: center;
  
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
  position: relative;
  background-image: url("../../public/images/start_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
}

.login {
  position: relative;
  margin-bottom: 20px;
}
.loginB {
  position: relative;
  background-color: #ffc368;
  color: #e26714;
  transition: background-color 0.5s;
  width: 250px;
  height: 50px;
  border-style: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 3px 2px 8px grey;
}
.loginB:hover {
  background-color: #ffac2e;
}
.homeText {
    font-size: 20px;
}
.loginB:focus,
.loginB:active {
  background-color: #fba31f;
  transition: none;
}
.signup {
  position: relative;
  margin-top: 20px;
}

.signupB {
  position: relative;
  background-color: #ffc368;
  color: #e26714;
  transition: background-color 0.5s;
  width: 250px;
  height: 50px;
  border-style: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 3px 2px 8px grey;
}

.signupB:hover {
  background-color: #ffac2e;
}

.signupB:focus,
.signupB:active {
  background-color: #fba31f;
  transition: none;
}
