.interestMain {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.interestContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  width: 400px;
  height: 500px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 3px 2px 8px grey;
}

.topics {
margin-bottom: 10px;
}

button[type=submit].finished {
  position: relative;
  background-color: #ffc368;
  color: #e26714;
  height: 40px;
  width: 250px;
  margin-top: 50px;
  box-shadow: 3px 2px 8px grey;
  transition: background-color 0.5s;
  border-style: none;
  border-radius: 4px;
  perspective: 1px;
  font-size: 20px;
  font-weight: bold;
}

button[type=submit].finished:hover {
  background-color: #ffac2e;
}

button[type=submit].finished:focus,
button[type=submit].finished:active {
  background-color: #fba31f;
  transition: none;
}


.Interests {
display: grid;
grid-template-columns: 150px 150px;
grid-gap: 5px;
margin-top: 10px;
}

.interests_buttons {
background-color: #FBE5D6;
border-color: transparent;
width: 150px;
margin-left: 5px;
margin-right: 5px;
font-size: 20px;
border-radius: 10px;

}

#topic_title {
color: #ffc368;
font-size: 30px;
font-style: italic;
font-weight: bold;
margin-bottom: 10px;
}