.loginMain {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../public/images/ls_background.png");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  width: 400px;
  height: 450px;
  align-items: center;
  justify-content: center ;
  padding: 10px;
  box-shadow: 3px 2px 8px grey;
}

.welcomeL {
  color: #ffc368;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
}

#float-label {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}

#float-label input {
  height: 50px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 10px;
}

#float-label label {
  position: absolute;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 12px;
  color: #999;
  pointer-events: none;
  transform: translate(0px, 18px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

#float-label:focus-within label {
  transform: translate(4px, 3px) scale(0.70);
}

#float-label .Active {
  transform: translate(4px, 3px) scale(0.70);
}

#float-label2 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}

#float-label2 input {
  height: 50px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 10px;
}

#float-label2 label {
  position: absolute;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 12px;
  color: #999;
  pointer-events: none;
  transform: translate(0px, 18px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

#float-label2:focus-within label {
  transform: translate(4px, 3px) scale(0.70);
}

#float-label2 .Active {
  transform: translate(4px, 3px) scale(0.70);
}

button[type=submit].login {
  position: relative;
  background-color: #ffc368;
  color: #e26714;
  height: 40px;
  width: 250px;
  margin-top: 20px;
  box-shadow: 3px 2px 8px grey;
  transition: background-color 0.5s;
  border-style: none;
  border-radius: 4px;
  perspective: 1px;
  font-size: 20px;
  font-weight: bold;
}

button[type=submit].login:hover {
  background-color: #ffac2e;
}

button[type=submit].login:focus,
button[type=submit].login:active {
  background-color: #fba31f;
  transition: none;
}

.forgotpsw {
  color: black;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  left: 70px;
  margin-top: 10px;
}
