.loginMain {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../public/images/ls_background.png");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  width: 400px;
  height: 450px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 3px 2px 8px grey;
}

.welcomeL {
  color: #ffc368;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
}

#float-label {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}

#float-label input {
  height: 50px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 10px;
}

#float-label label {
  position: absolute;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 12px;
  color: #999;
  pointer-events: none;
  transform: translate(0px, 18px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

#float-label:focus-within label {
  transform: translate(4px, 3px) scale(0.70);
}

#float-label .Active {
  transform: translate(4px, 3px) scale(0.70);
}

#float-label2 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}

#float-label2 input {
  height: 50px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 10px;
}

#float-label2 label {
  position: absolute;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 12px;
  color: #999;
  pointer-events: none;
  transform: translate(0px, 18px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

#float-label2:focus-within label {
  transform: translate(4px, 3px) scale(0.70);
}

#float-label2 .Active {
  transform: translate(4px, 3px) scale(0.70);
}

button[type=submit].login {
  position: relative;
  background-color: #ffc368;
  color: #e26714;
  height: 40px;
  width: 250px;
  margin-top: 20px;
  box-shadow: 3px 2px 8px grey;
  transition: background-color 0.5s;
  border-style: none;
  border-radius: 4px;
  perspective: 1px;
  font-size: 20px;
  font-weight: bold;
}

button[type=submit].login:hover {
  background-color: #ffac2e;
}

button[type=submit].login:focus,
button[type=submit].login:active {
  background-color: #fba31f;
  transition: none;
}

.forgotpsw {
  color: black;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  left: 70px;
  margin-top: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0,0, 0.8);
  opacity: 0;
  transition: opacity 400ms;
  visibility: hidden;
}

.overlay:target{
  visibility: visible;
  opacity: 1;
}

.wrapper{
  margin: 15% auto;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background: #e7e7e7;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5% ease-in-out;
}

.forgetHeader{
  display: flex;
}
.wrapper h2{
  margin-top: 0;
  width: 99%;
  color: #333;
}

.wrapper .close{
  width: 2%;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.wrapper .content{
  max-height: 30%;
  overflow: auto;
}

.contentInside{
  padding-top: 3%;
  border-radius: 5px;
  background-color: #e7e7e7;
  padding-bottom: 3%;
}

form label{
  font-weight: 500;
}

input[type=textF], textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  width: 60%;
  margin-left: 3%;
  margin-right: 10%;
  resize: vertical;
}

button[type="submitF"]{
  background-color: #ffc368;
  color: #e26714;
  padding: 1%;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px grey;
  transition: background-color 0.5s;
  border-style: none;
  border-radius: 4px;
  perspective: 1px;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bold;
}

button[type="submitF"]:hover {
  background-color: #ffac2e;
  transition: 500ms;
}