.notifMainContainer {
  display: flex;
  position: absolute;
  background-color: #f2f2f2;
  width: 100vw;
  justify-content: center;
  align-items: center;
}


.zeroNotificationContainer {
  background-color: white;
  font-size: x-large;
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
}

.notifContainer {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  background-color: #f2f2f2;
  width: 700px;
  padding: 10px;
}

.backFromNotif {
  margin-top: 29%;
  position: relative;
  background-color: white;
  color: #A6A6A6;
  border-style: none;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
  border-radius: 15px;
  font-size: 13px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.backFromNotif:hover {
  background-color: white;
  color: black;
}