.settingMain {
    display: flex;
    position: absolute;
    background-color: #f2f2f2;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.backFromGsetting {
    margin-top: 42%;
    position: relative;
    background-color: white;
    color: #A6A6A6;
    border-style: none;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 20px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: bold;
    transition-duration: 0.4s;
}

.backFromGsetting:hover {
    background-color: white;
    color: black;
}

.center2 {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    background-color: #f2f2f2;
    width: 800px;
    padding: 10px;
    height: 10%
}

.header2 {
    width: 100%;
    position: relative;
}

.settingCard {
    position: relative;
    background-color: white;
    border-radius: 25px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.btnSetting {
    width: 80%;
    height: 10%;
    border-radius: 30px;
    background-color: #f2f2f2;
    transition-duration: 0.4s;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: auto;
    color: #E26714;
}

.btnSetting:hover {
    background-color: white;
    color: #000000;
}