.dmBtnContainer {
  margin-top: 60px;
  margin-left: 10px;
}
.dmBtn {
  background-color: white;
  color: #a6a6a6;
  border-style: none;
  border-radius: 15px;
  font-size: 13px;
  font-weight: bold;
  transition-duration: 0.4s;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
}
.dmBtn:hover {
  background-color: white;
  color: black;
}

.blockUserBtn{
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-style: none;
  border-radius: 10px;
  font-size: 15px;
  background-color: #ffc368;
  color: #e26714;
  transition: 0.4s;
}

.blockUserBtn:hover {
  background-color: #fc5c5c;
  color: white;
}