.dmBtnContainer {
  margin-top: 60px;
  margin-left: 10px;
}
.dmBtn {
  background-color: white;
  color: #a6a6a6;
  border-style: none;
  border-radius: 15px;
  font-size: 13px;
  font-weight: bold;
  transition-duration: 0.4s;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
}
.dmBtn:hover {
  background-color: white;
  color: black;
}
