.searchResMain {
  display: flex;
  position: absolute;
  background-color: #f2f2f2;
  width: 95vw;
  justify-content: center;
  align-items: center;
}

.searchResContainer {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  background-color: #f2f2f2;
  width: 900px;
  padding: 10px;
  height: auto;
}

.innerResContainer {
    background-color: white;
    border-radius: 30px;
    padding: 20px;
}
