#topSettingBar_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 15px;
}

#topSettingBar_container p {
  font-size: 25px;
  font-weight: bold;
}

#topSettingBar_container button {
  position: relative;
  background-color: white;
  color: #A6A6A6;
  border-style: none;
  padding: 0px 30px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: bold;
  transition-duration: 0.4s;
}

#topSettingBar_container button:hover {
  background-color: white;
  color: black;
}
